<% provide(:title, 'Quản lý bài viết') %>

<div class="container mt-5 mb-5">

  <% if notice.nil? == false %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <div class="row">
    <h1 class="text-center">Cập nhật bài viết #<%= @article.id %></h1>
  </div>

  <div class="row">
    <div class="col-4"></div>
    
    <div class="col-4">
      <% if @article.errors.any? %>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_for [:admin, @article] do |f| %>
        <%= f.hidden_field :post_id, :value => 1 %>
        <p class="mb-3">
          <%= f.label :title, class: "form-label" %><br/>
          <%= f.text_field :title, class: "form-control" %>
        </p>
        <p class="mb-3">
          <%= f.label :description, class: "form-label" %><br/>
          <%= f.text_area :description, class: "form-control", :cols => 30, :rows => 10 %>
        </p>
        <p class="mb-3 text-center">
          <%= f.submit "save" ,class: "btn btn-lg btn-success" %>
        </p>
      <% end %>
    </div>

    <div class="col-4"></div>

  </div>

  <br>

</div>