<% provide(:title, 'Quản lý bài viết') %>
<div class="container">
    <h1>Quản lý bài viết admin</h1>
    <table class="table">
        <thead class="table-warning">
            <tr>
                <th>#id</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= truncate article.title, length: 20 %></td>
                    <td><%= truncate article.description, length: 50 %></td>
                    <td>
                        <%= link_to 'Xem', admin_article_path(article), class: "btn btn-primary mt-1 d-block" %>
                        <%= link_to 'Sửa', edit_admin_article_path(article), class: "btn btn-warning mt-1 d-block" %>
                        <%= button_to "Xóa bài viết", admin_article_path(article), method: :delete, class: "btn btn-danger mt-1 w-100" , data: {confirm: "Bạn có chắc chắn muốn xóa? "}  %>
                        <%# đường dẫn  %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-2">
        <%= paginate @articles %>
    </div>

</div>