<%= form_for @user do |f| %>
  <p class="mb-3">
    <%= f.label :name, class: "form-label" %><br/>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
  </p>
<p class="mb-3">
  <%= f.label :email, class: "form-label" %><br/>
  <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
</p>
<p class="mb-3">
  <%= f.label :password, class: "form-label" %><br/>
  <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
</p>
<p class="mb-3">
  <%= f.label :re_password, class: "form-label" %><br/>
  <%= f.password_field :re_password, class: "form-control", placeholder: "Enter password" %>
</p>
<p class="mb-3 text-center">
  <%= f.submit (@user.new_record? ? "Đăng kí" : "Cập nhật"), class: "btn btn-primary" %>
</p>`

<% end %>