<div class="container mt-5 mb-5">
  <div class="row mb-3">
    <h1 class="text-center">Cài đặt tài khoản</h1>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_for @user do |f| %>
        <p class="mb-3">
          <%= f.label :name, class: "form-label" %><br/>
          <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
        </p>
        <p class="mb-3">
          <%= f.label :email, class: "form-label" %><br/>
          <%= f.email_field :email, class: "form-control", :disabled => true, placeholder: "Enter email" %>
        </p>
        <p class="mb-3">
          <%= f.label :password, class: "form-label" %><br/>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </p>
        <p class="mb-3">
          <%= f.label :re_password, class: "form-label" %><br/>
          <%= f.password_field :re_password, class: "form-control", placeholder: "Enter password" %>
        </p>
        <p class="mb-3 text-center">
          <%= f.submit "Cập nhật", class: "btn btn-primary" %>
        </p>

      <% end %>

    </div>
    <div class="col-4"></div>
  </div>
</div>